# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: crossplane
spec:
  chartRef:
    kind: OCIRepository
    name: crossplane
  driftDetection:
    mode: warn
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: -1
      strategy: rollback
  values:
    metrics:
      enabled: true
