---
machine:
  install:
    diskSelector:
      model: CT500MX500SSD1
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: m
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: enigma
