---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keda
spec:
  chartRef:
    kind: OCIRepository
    name: keda
  interval: 30m
  values:
    enableServiceLinks: false
    operator:
      resources:
        requests:
          cpu: 10m
          memory: 50Mi
        limits:
          cpu: 200m
          memory: 500Mi