---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: crossplane
spec:
  interval: 1h
  path: ".kubernetes/apps/crossplane-system/crossplane/app/"
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: crossplane-system
  wait: true
