---
machine:
  install:
    diskSelector:
      model: VK0480GDJXV
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: delta
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "igc" && mac(link.permanent_addr).startsWith("1c:69:7a:")
