---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/sops
resources:
  - ./namespace.yaml
  - ./blackbox-exporter/ks.yaml
  - ./fluent-bit/ks.yaml
  - ./grafana/ks.yaml
  - ./headlamp/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./kube-state-metrics/ks.yaml
  - ./silence-operator/ks.yaml
  - ./victoria-logs/ks.yaml