---
machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.model == "CT500MX500SSD1"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: enigma
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: m
